body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial;
    color: white;
}

#startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#001122, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

button {
    padding: 15px 40px;
    background: crimson;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#ui {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}

#gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}
